body{
    border: 10px solid transparent;
    display: flex;
    flex-direction: column;
}

.textarea{
    min-width: initial !important;
    min-height: initial !important;
    max-width: initial !important;
    max-height: initial !important;
    height: initial !important;
    flex-grow: 1;
    resize: none !important;
}

.tab.segment{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.tab.segment.active.colflex{
    display:flex !important;
    flex-direction: column;
}

#header-template{
    display: none !important;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-button{
    float: right;
    margin-top: 1em !important;
    margin-left: 1em !important;
}
.header-field{
    margin:6px;
}

.header-select{
    min-width: 120px !important;
    margin:6px;
}

.convert-text-container{
    min-height: initial !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
}
.convert-text-container .grid{
    flex-grow: 1;
    display: flex;
}
.convert-text-container .grid>.column{
    flex-grow: 1;
    display: flex !important;
}

.tool-text-container{
    display: flex;
    flex-grow: 1;
    margin-top: 0 !important;
}

.copy-button{
    background: transparent !important;
    align-self: flex-start;
}

.payload-message{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.payload{
    display: inline-flex;
    align-items: center;
}

.payload-select{
    margin-right: 1em;
    margin-bottom: 1em;
}

#input, #output{
    font-family: monospace;
}